@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200;400;500&display=swap');

/* Reset some default styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sora', sans-serif;
}
body{
    background-color: #fafaf9;
}
main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.container{
    max-width: 368px;
    padding: 16px 16px 20px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background-color: #fff;
}
.header-img{
    background-image: url('../images/cactus_img.jpg');
    height: 200px;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
}
.content{
    padding: 16px 10px;
}
button{
    display: inline-block;
    background-color: #E5D6FC;
    color: #883AE1;
    border-radius: 50px;
    border: 0;
    font-size: 0.75em;
    padding: 5px 10px;
    margin-bottom: 10px;
}
.title{
    font-size: 1.5em;
    color: #20293A;
    margin-bottom: 10px;
}
.description{
    font-size: 0.9em;
    line-height: 1.4;
    color: #6C727F;
    margin-bottom: 20px;
}
.author{
    font-size: 0.8em;
    color: #6C727F;
    font-style: italic;
    margin-top: 20px;
}